body {
	background-color: #F8F8F8;
	color: #2C4066;
	font-family: arial;
	margin: 0px;
	display: flex;
  justify-content: space-between
}

body, html {
	width: 100%;
	height: 100%;
}

.fr{
	display: initial;
}

.en {
	display: none;
}

/* Partie de droite */

#right {
	width: 40%;
	background-color: #e6f2ff;
	border-left: 10px solid #2C4066;
	overflow-y: scroll;
}

#right p {
	font-size: 4em;
	margin: 10px 0px;
	color: #F8F8F8;
	background-color: #2C4066;
		border-bottom: 3px solid white;
}

.info {
	margin: 10px 0px;
}

#right p, .info {
	padding-left: 10px;
}

.info_container {
	display: flex;
	flex-direction: column;
}

#language button{
	width: 50%;
	background-color: #2C4066;
	border: none;
	color: #F8F8F8;
	font-size: 3em;
	border-bottom: 3px solid white;
}

#language button:hover {
	border-top: 3px solid white;
	border-bottom: none;
}

#language button:active {
	border-bottom: 3px solid white;
	border-top: none;
}

#language {
	display: flex;
	flex-direction: row;
}

/* Partie de gauche */

#left {
	width: 70%;
	overflow-y: scroll;
}

#header {
	width: 80%;
	text-align: center;
	margin: 1em 0px;
	font-size: 5em
}

article {
	width: 80%;
	text-align: center;
	font-size: 1.4em;
	display: flex;
	flex-direction: column;
}

article span {
	width: 100%;
	margin-bottom: 1em
}

img {
	width: 300px;
	margin: auto
}

#legal {
	font-size: 0.7em;
	margin-top: 1em;
}

#forum {
	padding: 20px
}

form {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: auto;
	margin-bottom: 2em;
	margin-top: 2em
}

input {
	background-color : #2C4066;
	border: none;
	height: 30px;
	margin: 10px 0px;
	border-radius: 10px;
	color: white;
	text-align: center
}

form button {
	width: 50%;
	margin: auto;
	background-color: white;
	border: 2px solid #2C4066;
	border-radius: 10px;
}